{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

 <h1 align="center" style="color:deeppink">{{ question.question_text }}</h1>

{% if error_message %}<p align="center" style="color:deeppink" ><strong>{{ error_message }}</strong></p>{% endif %}

<form align="center" action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<h1 align="center">
{%  for choice in question.choice_set.all %}
    <input align="center" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label align="center" style="color:deeppink" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<h1 align="center"><input style="color:deeppink" type="submit" value="Vote"></h1>
</h1>
</form>
