{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    <p>
    </p>
    <h1 align="center">
    <ul  align="center" style="color:deeppink">
    {% for question in latest_question_list %}
        <li align="center" style="color:deeppink"><a align="center" style="color:deeppink" href="{% url 'polls:detail' question.id %}" >{{ question.question_text }}</a></li>
    {% endfor %}
    </ul></h1>
{% else %}
   <h1 align="center"> <p style="color:deeppink">No polls are available.</p></h1>
{% endif %}
